!HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### ignore everything except subfolders ###
#!*/

### VS Code ###
.vscode/

### Model File ###
Model/*.model
Model/NMRPredModel/*
Model/PhaseIinhibitorModel/*
Model/PhaseIIReactModel/*
Model/PhaseISOMModel/*
Model/TransporterModel/*

### image file ###
CompoundImages/*.png
CompoundImages/*.jpeg
uploadedFile/*.sdf
uploadedFile/*.mol

### db file ###
HoseDB/*.db

### download file ###
Downloads/*.zip

### script file ###
Script/*
!Script/.gitkeep

### target file ###
target/

### jar file ###
*.jar
