<div th:fragment="header">


	<!-- navbar -->
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">
			<img th:src="@{/img/mn.jpg}" width="35" height="35" alt="" >
		</a>
		<b style="font-size:25px;"> Metabolism Network </b>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<!-- Product -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Products </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/phase1som">SOM Predictor </a>
						<a class="dropdown-item" href="/cypreact">CypReact </a>
						<a class="dropdown-item" href="/transporter">DrugExporter</a>
						<!-- <a class="dropdown-item" href="/properties">Chemical Properties</a> -->
					</div>
				</li>
				<!-- <li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Database </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Metabolism Network</a> 
						<a class="dropdown-item" href="/compounds/index">Compounds</a>
						<a class="dropdown-item" href="/masspectras">MS</a>
					</div>
				</li> -->
				<!-- about us -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> About </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="http://www.xuancao.ca/" target="_blank">Xuan Cao</a> 
						<a class="dropdown-item" href="http://www.wishartlab.com/" target="_blank">Wishart Lab</a>
						<a class="dropdown-item" href="#">Collaborations</a>
					</div>
				</li>
				
				<!-- Support -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Supports </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<!-- <a class="dropdown-item" href="/tutorial">Tutorial</a> 
						<a class="dropdown-item" href="/FAQ">FAQ</a> -->
						<a class="dropdown-item" href="/downloads">Downloads</a>
						<a class="dropdown-item" href="/statistics">Statistics</a>
						<a class="dropdown-item" href="/contactus">Contact</a>
					</div>
				</li>
				
				<li class="nav-item"><a class="nav-link">V.1.0</a></li>
			</ul>
		</div>
	</nav>


</div>